<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Dataprovider Suite">
  <test  name="Dataprovider Test">
    <classes>
     
      <class name="testdata.DataproviderTest"/>
      <class name="testng.HardandSoftAssertions"/>
      <class name="testng.Invocationcount"/>
      <class name="testng.TestNG"/>
      <class name="testng.GoogleTest"/>
      <class name="testng.Testngfeatures"/>
      <class name="parameters.ParameterPassing"/>
      <class name="testdata.NewCustomer"/>
      <class name="testng.ExceptionTimeout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
